.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include media-min-width(480px) {
    width: 480px;
  }

  @include media-min-width(768px) {
    width: 768px;
  }

  @include media-min-width(1200px) {
    width: 1200px;
  }
}
